<!DOCTYPE html>

<html lang="pt-br">

<head>

    <link rel="stylesheet" href="~/css/LoginStyle.css" />

</head>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
