@using G4_InstaDev_Projeto1SD.Controllers
@model Cadastro

@{
    ViewData["Title"] = "Cadastro";
}

@{

    Layout = "_LayoutCadastro";

}

<form method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
<body>
    <main>
    <div class="body">
        <div class="container">
            <div class="content">
                <img class="logoPage" src="~/img/Sem_título-removebg-preview.png" alt="Imagem do logo instadev">
                <div class="textoCadastro">
                    <p>Cadastre-se para ver fotos e vídeos dos seus amigos.</p>
                </div>
                <div class="inputs">
                    <input class="inputCadastro" type="email" name="Email" placeholder="Email" required>
                    <input class="inputCadastro" type="text" name="Nome" placeholder="Nome" required>
                    <input class="inputCadastro" type="text" name="Username" placeholder="Nome de usuário" required>
                    <input class="inputCadastro" type="password" name="Senha" placeholder="Senha" required>
                    <div class="Imagem">
                            <div class="buttonImagem">
                                @* @foreach (Cadastro img in ViewBag.Cadastros){
                                    <img src="/img/@img.Imagem" alt="Imagem da equipe @img.Username" width="40">
                                }       *@
                                <label for='Imagem'>Foto de perfil</label>
                                <input class="inputImagem" type="file" name="Imagem" id= "Imagem" for="Imagem" required/>
                            </div>
                        </div>
                </div>
                <button class="buttonCadastro">
                    <a asp-controller="Login" asp-action="Index" ></a> Cadastre-se
                </button>

                <div class="errorcad"> @TempData.Peek("errorcad") </div>

                <div class="textoCadastro2">
                    <p>Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de Cookies. </p>
                </div>
            </div>
            <br>
            <div class="container2">
                <div class="textoLoginCadastro">
                    <p>Tem uma conta?</p>
                    <a asp-area="" asp-controller="Login" asp-action="Index" > Conecte-se </a>
                </div>
            </div>
            <div class="container3">
                <p>Obtenha o aplicativo.</p>
                <div class="imagensContainer3">
                    <a href="https://apps.apple.com/br/app/instagram/id389801252"><img src="~/img/apple.png" alt="link para baixar na apple store"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=pt_BR&gl=US"><img src="~/img/play.png" alt="link para baixar no google play store"></a>   
                </div>
            </div>
        </div>
    </div>
    </main>
</body>
</form>
