@model Postar
@{
    ViewData["Tittle"] = "Feed";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/style.css">
<header class="cabeca">
        <div class="cabecalho">

            <div class="logo">
                <img class="log" src="img/Instadev.png" alt="Instadev">
            </div>

            <div class="pesquisa">
                <input class="pesq" placeholder="Pesquisar" type="text">
                <img class="lupa" src="img/Lupa.png" alt="">
            </div>

            <div class="bol">
                <div class="bolinhas">
                    <a class="ajuste" style="height: 80%;" href="#"> <img src="img/Vector.png" alt=""> </a>
                    <a class="ajuste" style="height: 80%;" href="#"> <img src="img/plane 1.png" alt=""> </a>
                    <a class="ajuste" style="height: 80%;" href="#"> <img src="img/compass 1.png" alt=""> </a>
                    <a class="ajuste" style="height: 70%;" href="#"> <img src="img/heart.png" alt=""> </a>
                    <a class="bola ajuste" href="#"> <img src="img/thank-you 1.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>
    <br><br><br>    

    <main>
    <section class="tudo">
        
        <div class="esquerda">
            
            <section class="stories">
                <div class="container">
                    
                    <div class="retangulo">
                        <a class="fotinha" style="height: 80%;" href="#"> <img src="img/vin-diesel 1.png" alt=""> </a>
                        <p class="nomezinho">vin_diesel</p>
                    </div>
                    
                    <div class="retangulo">
                        <a class="fotinha" style="height: 80%;" href="#"> <img src="img/gabigordo 1.png" alt=""> </a>
                        <p class="nomezinho">gabigordo</p>
                    </div>
                    
                    <div class="retangulo">
                        <a class="fotinha" style="height: 80%;" href="#"> <img src="img/will-baiano 1.png" alt=""> </a>
                        <p class="nomezinho">will_baiano</p>
                    </div>
                    
                    <div class="retangulo">
                        <a class="fotinha" style="height: 80%;" href="#"> <img src="img/tony_stark 1.png" alt=""> </a>
                        <p class="nomezinho">adriano_stark</p>
                    </div>
                    
                    <div class="retangulo">
                        <a class="fotinha" style="height: 80%;" href="#"> <img src="img/pele 1.png" alt=""> </a>
                        <p class="nomezinho">king_pele</p>
                    </div>
                    
                    <div class="retangulo">
                        <a class="fotinha" style="height: 80%;" href="#"> <img src="img/samuel-rosa-bebê 1.png" alt=""> </a>
                        <p class="nomezinho">samuel_rosa</p>
                    </div>
                    
                    <div class="retangulo">
                        <a class="fotinha" style="height: 80%;" href="#"> <img src="img/chaves_metal 1.png" alt=""> </a>
                        <p class="nomezinho">chaves_metal</p>
                    </div>
                    
                </div>
            </section>
            <br><br><br>
            <section class="postar">
                <div class="quadrado">

                    <div class="fotopostar">
                        <img src="img/thank-you 3.svg" alt="Yes, baby">
                        <button type="submit"> Postar </button>
                    </div>
                    
                    <div class="inputs">
                        <form method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

                        <input class="digite" placeholder="Digite a descrição da imagem..." type="text" name="Legenda" />

                        <label> Imagem </label>
                        <input class="escolhaimagem" type="file" name="Imagem" />

                        <button class="butão" type="submit"> Postar </button>

                        </form>
                    </div>
                    
                </div>
            </section>
            <br><br><br>
            
        @foreach (Postar item in ViewBag.Post)
        {
            <div class="publi">  
                <img src="img/thank-you 2.svg" alt="tapa na ">
                <div class="postador">
                    <p>yes_baby</p>
                    <p>Cyberpunk</p>        
                    <div>
                        <tr>
                            <img class="img-do-post" src="~/img/Posts/@item.Imagem" width="500" height="320" />

                            <div class="likes">
                                
                                <a class="coraçaum" href="#"> <img src="img/heart.png" alt=""> </a>
                                <a class="coraçaum" href="#"> <img src="img/Coment.png" alt=""> </a>

                                    <form method="POST" action='@Url.Action("Comentario")' >

                                    <label class="comentariu" for="Comentar"> Comentar </label>
                                    <input type="text" name="Comentario" id="Comentar" >

                                    <button type="submit"> Comentar </button>

                                    </form>
                            
                                <p>2077 Curtidas</p>
                            </div>
                            <div>
                                <p> @item.Legenda </p>
                                @foreach (Comentarios items in ViewBag.Comentario)
                                {
                                    <tr>
                                        <p> @items.Comentario </p>
                                    </tr>
                                }
                            </div>
                        </tr>
                    </div>
                </div>  
            </div>          
        }            
        
        <div class="direita">
            
            <div class="perfil">
                <img src="img/thank-you 2.svg" alt="tapa na ">
                <div class="textos">
                    <h2>yes_baby</h2>
                    <p>Marcos Jeeves</p>
                </div>
            </div>
            
        </div>
    </section>
</main>